*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Patua One', cursive;


}
nav{
	position: fixed;
	top: 20px;
	left: 20px;
	

}
nav a {
	color: black;
	text-decoration: none;
	display: inline-block;


}
header{
	background: #5433FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: auto;
	padding: 48px;
	width: 100%;
}
.container {
	width: 95%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

img{
	display: block;
	height: 500px;
	object-fit: cover;
	width: auto;
}
.textos  {
	width: 50%;
	color: black;

}
.textos h1{
	font-size: 60px;

}
.textos h2 {
font-size: 40px;

}
.textos a {
	display:  inline-block;
	color: red;
	font-weight: 300;
	text-decoration: none;
	margin-top: 30px;
	border: 3px solid #fff;
	width: 150px;
	border-radius: 3px;
	text-align: center;
	padding: 10px 0;


}

.wave{
	height: 100px;
	width: 100%;
	background: #5433FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
